<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiBaseURL</key>
	<string>https://api.ilovepdf.com/v1/</string>
	<key>public_key</key>
	<string>project_public_85f90e1cb3cb9da0c17150b99490f8f9_4_rdAa2ea3a4eadf3ffca103097bcc2e7d7e4</string>
</dict>
</plist>
